<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${title}" />
    <p th:text="${name}" />
    <p th:text="${desc}" />
    <p th:text="${birth}" />
    <p th:text="${address}" />
    <p th:text="${uni}" />
    <p th:text="${sma}" />
    <p th:text="${smp}" />
    <p th:text="${sd}" />
</body>
</html>
